{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class=" h-100 p-5 text-center bg-dark d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
          <div class="text-white">
              <h1 class="mb-3 page-title">Log Out</h1>
              <p>Are you sure you want to log out?</p>
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-secondary mb-2" type="submit">{% trans 'Log Out' %}</button>
              </form>
          </div>
      </div>
</div>

{% endblock %}
