{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="p-5 text-center bg-dark d-flex justify-content-center align-items-left">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-white">
        <h1 class="mb-3 page-title">Sign Up and share your favourite Cocktails with us!</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="account-link">log
            in</a>.{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-secondary">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}