{% extends 'base.html' %}
{% block content %}
<h1>{{ cocktail.title }} | {{ cocktail.user }}</li></h1>
<br>
<img src=" {{ cocktail.image.url }}">
<br>
<p>{{ cocktail.number_of_likes }}</p>
<ul>
    <li>{{cocktail.ingredients}}</li>
    <li>{{cocktail.steps}}</li>
    <li>{{cocktail.taste}}</li>
    <li>{{remark.text}}</li>
</ul>

<div >
    <p >Likes: {{ cocktail.number_of_likes }} </p>
    {% if user.is_authenticated %}
    <form  action="{% url 'cocktail_like' cocktail.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="cocktail_id" value="{{cocktail.slug}}">NoLike</i></button>
        {% else %}
        <button type="submit" name="cocktail_id" value="{{cocktail.slug}}">Like</i></button>
        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}