{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--Hero Image-->
<div class="pimg1">
    <!--ADD Cocktail-->
    <div class="ptext">
        {% if user.is_authenticated %}
        <a href="{% url 'add' %}" class="text-decoration-none text-muted "> 
            <span class="border hover">Add Cocktail</span>
        </a>
        {% else %}
        <h1 class="border">C o c k t a i l</h1>
        {% endif %}
    </div>
</div>
<hr>
<!--About Section-->
<section class="section">
    <h2>About Us</h2>
    <hr>
    <p>We are a young community of cocktails lovers and we love to share with our friends any kind of drink mixes no matter they contain alcohol or not. <br> Cocktail, Mocktail is not really important as long it gathers friends for a talk and fun. <br><a href="{% url 'account_signup' %}" class="text-decoration-none text-muted hover "><strong>Sign Up</strong></a> and join our community to share with us your ideas and experiences!</p>
</section>
<hr>
<!--Middle Image-->
<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Find New Mixes
        </span>
    </div>
</div>
<hr>
<!--Explore Section-->
<section class="section section-dark">
    <p>If you're looking to get a little adventurous with your ordinary alcoholic beverages, then these experimental DIY cocktails will definitely add a kick to any late night gathering.

        While bars and dining establishments often feature brand name drinks and cocktails, finding beverages that are tailored and customized to your preferred taste is almost impossible. That's why making drinks at home with exotic and creative ingredients is a fun and entertaining way to put a personal twist on go-to alcoholic beverages. From beverages that incorporate floral flavoring to those that feature unexpected ingredients like yogurt and hot sauce, these DIY cocktails will definitely make staying in a lot more enticing.
        
        Showcasing how a little creativity can instantly revamp a traditional drink, these experimental beverages will certainly be the highlight of any social gathering.</p>
</section>
<hr>
<!--Cocktails LIST-->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for cocktail in cocktails %}
                    <div class="col-md-4">
                        <a href="{% url 'cocktail' cocktail.slug %}" class="text-decoration-none text-muted ">
                            <div class="card-body hover">
                                {% if "placeholder" in cocktail.image.url %}
                                <img class="card-img-top img-fit" height="300" src="https://res.cloudinary.com/dyjmpid6t/image/upload/v1667111171/static/images/logo_xlknhs.png" alt="Cocktail Logo placeholder">
                                {% else %}
                                <img class="card-img-top img-fit" height="300" src=" {{ cocktail.image.url }}" alt="{{ cocktail.title }}">
                                {% endif %}
                                {% if cocktail.alcoholic %}
                                <em>Cocktail</em>
                                {% else %}
                                <em>Mocktail</em>
                                {% endif%}  
                                <h2 class="card-title ">{{ cocktail.title }}</h2>
                                <hr />
                                <p class="card-text h6">{{ cocktail.number_of_likes }} <i class="fa-solid fa-heart"></i></p>
                            </div>
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
                {% endfor %}
                <div class="mt-3 mb-4">
                    {% include "pagination.html" %}
                </div>                
            </div>
        </div>
    </div>
</div>
<hr>
<!--Bottom Image-->
<div class="pimg1">
    <div class="ptext">
        <span class="border trans">
           Follow Us!
        </span>
    </div>
</div>
<hr>

{% endblock  %}