{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
    </li>

    {% endif %}



    <h1>Cocktails</h1>
    <ul>
    {% for cocktail in cocktails %}

    <a href="{% url 'cocktail' cocktail.slug %}">{{ cocktail.title }}</a>
        <li><img src=" {{ cocktail.image.url }}"><br>{{ cocktail.number_of_likes }}</li>
        <a href="{% url 'edit' cocktail.slug %}">Edit</a>  
    {% endfor %}
    </ul>
{% endblock  %}