{% extends "base.html" %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<section>
    <div class="row">
        <div class="col-8 offset-2">
        <h1 class="page-title text-center mt-5 mb-2">My Cocktails</h1> 
        <hr>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for cocktail in page_obj %}
                    <div class="col-md-4">
                        <a href="{% url 'cocktail' cocktail.slug %}" class="text-decoration-none text-muted ">
                            <div class="card-body">
                                {% if "placeholder" in cocktail.image.url %}
                                <img class="card-img-top img-fit" height="300px"
                                    src="https://res.cloudinary.com/dyjmpid6t/image/upload/v1667111171/static/images/logo_xlknhs.png">
                                {% else %}      
                                <img class="card-img-top img-fit" height="300px" src=" {{ cocktail.image.url }}" alt="{{ cocktail.title }}">
                                {% if cocktail.alcoholic %}
                                    <em>Alcoholic</em>
                                {% endif%}                                     {% endif %} 
                                <h2 class="card-title text-muted">{{ cocktail.title }}</h2>
                                <hr />
                                <p class="card-text h6">{{ cocktail.number_of_likes }} <i class="fa-solid fa-heart"></i></p>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="container log-box">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12 mt-4">
                                <p class="lead text-center">It looks like you haven't shared any cocktail recpipes yet!
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% include "pagination.html" %}
    <hr>
    <img src="https://res.cloudinary.com/dyjmpid6t/image/upload/v1667053877/pexels-timur-weber-8679591_h0rw33.jpg" width="100%" alt="Cocktail"/>
    <hr>
</section>


{% else %}

{% include "account/login.html" %}

{% endif %}

{% endblock %}